.btn-shadow{
    box-shadow: 3px 3px 3px black;
}
.border{
    background-color: black;
    height: 4px;
    width: 100%;
}
.DVD, .DVDi, .book, .booki, .height, .heighti, .length, .lengthi, .width, .widthi{
    display: none;
}